@import url("./__subtitle/info__subtitle.css");
@import url("./__link/info__link.css");
@import url("./__wrap/info__wrap.css");
@import url("./__paragraph/info__paragraph.css");
@import url("./__text/info__text.css");
@import url("./__bold/info__bold.css");
@import url("./__title/info__title.css");

.info {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 80px;
}

@media screen and (max-width: 1023px) {
    .info {
        padding-top: 32px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 424px) {
    .info {
        padding-top: 16px;
        padding-bottom: 24px;
    }
}