.search__error {
    width: 72.4%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 17px;
    color: #FF0000;
    position: absolute;
    left: 24px;
    bottom: 82px;
}

@media screen and (max-width: 1023px) {
    .search__error {
        bottom: 48px;
    }
}

@media screen and (max-width: 580px) {
    .search__error {
        bottom: 87px;
    }
}