.tabel__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 104px;
}

@media screen and (max-width: 500px) {
    .tabel__col {
        width: 22.2%;
    }
}

@media screen and (max-width: 374px) {
    .tabel__col {
        width: 33.3%;
    }
}