.slider__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    text-align: left;
    margin: 0;
    width: 88%;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 58px;
}