.news-cards__result {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}


@media screen and (max-width: 1023px) {
    .news-cards__result {
        width: 89.6%;
    }
}

@media screen and (max-width: 600px) {
    .news-cards__result {
        width: 90%;
        flex-direction: column;
    }
}