.author__avatar {
    width: 464px;
    height: 464px;
    border-radius: 50%;
    margin-left: 104px;
}

@media screen and (max-width: 1279px) {
    .author__avatar {
        margin-left: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .author__avatar {
        width: 232px;
        height: 232px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 600px) {
    .author__avatar {
        width: 272px;
        height: 272px;
        margin: 0 auto;
    }
}