@import url("./__card/news-cards__card.css");
@import url("./__container/news-cards__container.css");
@import url("./__item/news-cards__item.css");
@import url("./__circle-preloader/news-cards__circle-preloader.css");
@import url("./__search/news-cards__search.css");
@import url("./__text/news-cards__text.css");
@import url("./__not-found/news-cards__not-found.css");
@import url("./__icon/news-cards__icon.css");
@import url("./__subtitle/news-cards__subtitle.css");
@import url("./__result/news-cards__result.css");
@import url("./__image/news-cards__image.css");
@import url("./__date/news-cards__date.css");
@import url("./__news/news-cards__news.css");
@import url("./__paragraph/news-cards__paragraph.css");
@import url("./__source/news-cards__source.css");
@import url("./__form/news-cards__form.css");
@import url("./__wrapper/news-cards__wrapper.css");
@import url("./__link/news-cards__link.css");


.news-cards {
    width: 100%;
    background-color: #F5F6F7;
    margin: 0;
}
