*
!.gitignore
!README.md
!.eslintrc
!.nojekyll
!package.json
!package-lock.json
!webpack.config.js
!babel.config.js
!postcss.config.js
!config.js

!/src/
!/src/**/
!/src/css/**/*.css
!/src/js/**/*.js
!/src/blocks/**/*.css
!/src/blocks/**/*.js
!/src/modules/**/*.js
!/src/*.html
!/src/vendor/**/*
!/src/image/*.png
!/src/image/*.jpg
