.tech__wrapper {
    width: 77.8%;
    display: flex;
    margin: 0;
    padding-top: 80px;
    padding-left: 104px;
    padding-bottom: 97px;
}

@media screen and (max-width: 1279px) {
    .tech__wrapper {
        width: 89.6%;
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
        padding-top: 32px;
        padding-bottom: 52px;
    }
}