@import url("./__avatar/author__avatar.css");
@import url("./__text/author__text.css");
@import url("./__container/author__container.css");

.author {
    display: flex;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (max-width: 1023px) {
    .author {
        padding-top: 40px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 600px) {
    .author {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 44px;
    }
}