@import url("./__avatar/slider__avatar.css");
@import url("./__card/slider__card.css");
@import url("./__info/slider__info.css");
@import url("./__date/slider__date.css");
@import url("./__user/slider__user.css");
@import url("./__name/slider__name.css");
@import url("./__email/slider__email.css");
@import url("./__text/slider__text.css");
@import url("./__arrow/slider__arrow.css");
@import url("./__track/slider__track.css");
@import url("./__container/slider__container.css");
@import url("./__bullets/slider__bullets.css");
@import url("./__slides/slider__slides.css");
@import url("./__arrows/slider__arrows.css");
@import url("./__gradient/slider__gradient.css");
@import url("./__bullet/slider__bullet.css");
@import url("./__bullet-active/slider__bullet-active.css");
@import url("./__form/slider__form.css");

.slider {
    width: 100%;
    margin: 0;
    position: relative;
    margin-top: 64px;
}

@media screen and (max-width: 1023px) {
    .slider {
        margin-top: 32px;
    }
}

@media screen and (max-width: 424px) {
    .slider {
        margin-top: 16px;
    }
}
