.header__nav {
    display: flex;
    width: 15.3%;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .header__nav {
        width: 27.6%;
    }
}

@media screen and (max-width: 374px) {
    .header__nav {
        width: 51%;
    }
}