@import url("./_white/header__title_white.css");
@import url("./_black/header__title_black.css");

.header__title {
    width: 16.2%;
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    z-index: 1;
}

@media screen and (max-width: 1023px) {
    .header__title {
        width: 29.2%;
    }
}

@media screen and (max-width: 767px) {
    .header__title {
        font-size: 16px;
    }
}

@media screen and (max-width: 374px) {
    .header__title {
        width: 35%;
        font-size: 16px;
    }
}