@import url("./_show-more/content-button__show-more.css");
@import url("./_slider/content-button_slider.css");

.content-button {
    width: 288px;
    border-radius: 80px;
    color: #1A1B22;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    box-sizing: border-box;
    padding: 18px 22px;
    cursor: pointer;
}

.content-button:hover {
    background: #E5E5E5;
    opacity: 0.9;
    border: 1px solid #E5E5E5;
}

.content-button:focus {
    outline: none;
}

.content-button:active {
    outline: none;
}


@media screen and (max-width: 1023px) {
    .content-button {
        width: 240px;
    }
}

@media screen and (max-width: 424px) {
    .content-button {
        width: 288px;
    }
}