.tabel__content {
    margin: 0 auto;
    width: 85.8%;
    margin-top: 48px;
    padding-bottom: 80px;
}

@media screen and (max-width: 1023px) {
    .tabel__content {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 500px) {
    .tabel__content {
        padding-bottom: 32px;
        margin-top: 16px;
    }
}