.news-cards__paragraph {
    width: 88%;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    text-align: left;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
}