.footer__navigation {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

@media screen and (max-width: 1023px) {
    .footer__navigation {
        width: 55%;
    }
}

@media screen and (max-width: 800px) {
    .footer__navigation {
        width: 55%;
    }
}

@media screen and (max-width: 760px) {
    .footer__navigation {
        width: 66%;
    }
}

@media screen and (max-width: 500px) {
    .footer__navigation {
        flex-direction: column;
        width: 76.4%;
    }
}


