.footer__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    font-family: Source Sans Pro;
    font-style: normal;
    color: #1A1B22;
    text-decoration: none;
    margin: 0;
    text-align: center;
}

.footer__link:hover {
    color: #696969;
}

.footer__link:active {
    color: black;
}

@media screen and (max-width: 500px) {
    .footer__link {
        text-align: left;
        line-height: 24px;
    }
}