.slider__frame {
    display: flex;
    overflow: hidden;
    margin-left: -370px;
    width: 125%;
}

@media screen and (max-width: 1279px) {
    .slider__frame {
        margin-left: -100px;
    }
}

@media screen and (max-width: 1023px) {
    .slider__frame {
        margin-left: -30px;
    }
}

@media screen and (max-width: 424px) {
    .slider__frame {
        margin: 0;
        flex-direction: column;
        width: 100%;
    }
}