.news-cards__form {
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 80px;
}

@media screen and (max-width: 1023px) {
    .news-cards__form {
        margin-top: 22px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 374px) {
    .news-cards__form {
        margin-top: 12px;
        margin-bottom: 44px;
    }
}