@import url("./__button/search__button.css");
@import url("./__input/search__input.css");
@import url("./__search-field/search__search-field.css");
@import url("./__text/search__text.css");
@import url("./__title/search__title.css");
@import url("./__error/search__error.css");

.search {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 80px;
    width: 42%;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .search {
        width: 50%;
        padding-top: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .search {
        width: 58.6%;
        padding-top: 40px;
    }
}

@media screen and (max-width: 586px) {
    .search {
        width: 75%;
        padding-top: 10px;
    }
}

@media screen and (max-width: 374px) {
    .search {
        width: 90%;
        padding-top: 30px;
    }
}