@import url("./__avatar/author__avatar.css");
@import url("./__text/author__text.css");
@import url("./__container/author__container.css");

.author {
    display: flex;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}