@import url("./__err/error__err.css");

.error {
    width: 42%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 85px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1000;
}

@media screen and (max-width: 1279px) {
    .error {
        width: 50%;
    }
}

@media screen and (max-width: 1023px) {
    .error {
        width: 58.6%;
    }
}

@media screen and (max-width: 586px) {
    .error {
        width: 75%;
    }
}

@media screen and (max-width: 374px) {
    .error {
        width: 90%;
    }
}