.tabel__date {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 24px;
    width: 104px;
}

@media screen and (max-width: 1279px) {
    .tabel__date {
        width: 104px;
    }
}

@media screen and (max-width: 1023px) {
    .tabel__date {
        width: 104px;
    }
}

@media screen and (max-width: 773px) {
    .tabel__date {
        width: 104px;
    }
}

@media screen and (max-width: 500px) {
    .tabel__date {
        width: 22.2%;
    }
}

@media screen and (max-width: 374px) {
    .tabel__date {
        width: 33.3%;
    }
}