.tabel__range {
    display: flex;
    justify-content: space-between;
    padding-left: 104px;
}

@media screen and (max-width: 500px) {
    .tabel__range {
        display: none;
    }
}

