.search__search-field {
    padding-top: 64px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 1300px) {
    .search__search-field {
        width: 100%;
        padding-top: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .search__search-field {
        width: 100%;
        padding-top: 24px;
        padding-bottom: 48px;
    }
}

@media screen and (max-width: 580px) {
    .search__search-field {
        width: 100%;
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 32px;
    }
}