@import url("./__navigation/footer__navigation.css");
@import url("./__nav/footer__nav.css");
@import url("./__social/footer__social.css");
@import url("./__copyright/footer__copyright.css");
@import url("./__link/footer__link.css");
@import url("./__item/footer__item.css");
@import url("./__icon/footer__icon.css");
@import url("./__wrapper/footer__wrapper.css");

.footer {
    margin: 0 auto;
    display: flex;
    padding-top: 33px;
    padding-bottom: 25px;
    width: 85.6%;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .footer {
        width: 89.6%;
        padding-top: 24px;
        padding-bottom: 18px;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        width: 90%;
        flex-direction: column;
        padding-bottom: 22px;
    }
}