@import url("./__paragraph/for-clients__paragraph.css");
@import url("./__text/for-clients__text.css");

.for-clients {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 94px;
    width: 85.8%;
}

@media screen and (max-width: 1023px) {
    .for-clients {
        width: 89.6%;
        padding-top: 30px;
        padding-bottom: 52px;
    }
}

@media screen and (max-width: 424px) {
    .for-clients {
        width: 90%;
        padding-top: 16px;
        padding-bottom: 32px;
    }
}