.news-cards__text {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    padding-top: 24px;
    color: #B6BCBF;
    margin: 0 auto;
    width: 20%;
}