.error__err {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #FF0000;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px 6px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FF0000;
    margin-bottom: 5px;
    display: block;
}